* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffe5ec;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.logo img {
  max-width: 70px;
  height: auto;
  border-radius: 50px;
}

li a {
  text-decoration: none;
  color: #ed4c5f;
}
